body > div > header > div > img[alt*="File Browser"] {
  padding: 40px 40px 0px 0px;
  background: url('/files/img/icon.png');
  background-size:40px 40px;
  width:0px;
  height: 0px;
}
body > div#login > form > img[alt*="File Browser"] {
  padding: 4em 4em 0px 0px;
  background: url('/files/img/icon.png');
  background-size:4em 4em;
  width:0px;
  height: 0px;
}
