// Official PSP Styles page
@import '~bulma/sass/utilities/_all.sass';

$primary: hsl(222, 64%, 29%);
$primary2: hsl(213, 50%, 23%);
//$primary: #22479a;
//$primary: hsl(217, 71%, 53%);
$primary-invert: findColorInvert($primary);
$primary2-invert: findColorInvert($primary2);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Links
$link: hsl(217, 71%, 53%);
$link-invert: findColorInvert($link);
$link-focus-border: $link;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': ($white, $primary2),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'dark': ($dark, $dark-invert),
  'primary': ($primary, $primary-invert),
  'primary2': ($primary2, $primary2-invert),
  'info': ($info, $info-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert),
  'twitter': ($twitter, $twitter-invert),
  'link': ($link, $link-invert)
);

$link: hsl(217, 71%, 53%);
$link-invert: findColorInvert($link);
$link-focus-border: $link;

$navbar-height: 4.25rem;

@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';